@model List<ListedLinks.Models.ListedLink>

@{
	ViewBag.Title = "Biffkittz";
}

@* Messing around with some CSS *@
@* <div style="border-bottom: 3px solid #4588ba; margin-bottom:10px;">
	<div id="rootworm">
		<div class="flex-container">
			<div class="loading">
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
				<div class="x"></div>
			</div>
		</div>
	</div>
	<h1>Ahem, we present the listed links of learning:</h1>
</div> *@

<div class="card" style="width: 1000px; margin-bottom:5px">
	<div class="card-header">
		May/June 2025: What I'm doing
	</div>
	<div class="card-body">
		<ul style="list-style-type:circle">
			<li>Tinkering with Kubernetes by building a homelab K8s cluster</li>
			<li>Learning Kubernetes by completing Mumshad Mannambeth’s Udemy/KodeKloud Kubernetes course</li>
			<li>Studying for the Certified Kubernetes Application Developer (CKAD) certification exam</li>
			<li>Learning PostgreSQL using the hands-on book "The Art of PostgreSQL"</li>
			<li>Learning PostgreSQL by deploying and configuring a homelab PostgreSQL server cluster</li>
			<li>Homelab PostgreSQL service to be containerized and hosted in homelab K8s cluster</li>
			<li>Deepening understanding of C# and .NET through ASP.NET Core web development</li>
			<li>Working through the hands-on book "Pro ASP.NET" by Adam Freeman</li>
			<li>Creating and updating this site, biffkittz.com</li>
		</ul>
	</div>
</div>

<div class="card" style="width: 1000px; margin-bottom:5px">
	<div class="card-header">
		biffkittz.com site details and deployment
	</div>
	<div class="card-body">
		<ul style="list-style-type:circle">
			<li>Cloudflare DNS</li>
			<li>DigitalOcean droplet running Ubuntu 24.04.1 LTS</li>
			<li>nginx proxy</li>
			<li>Kestrel web server</li>
			<li>.NET 9.0</li>
			<li>ASP.NET MVC with Razor Pages</li>
			<li>OpenAI/ChatGPT-integrated [ask for details]</li>
			<li>SignalR-integrated Pages to display realtime ScreenConnect server activity and eventually perform automated actions based on realtime activity type, where realtime automation could be something like relaying data to another API (e.g. ChatGPT for realtime analysis of activity), alerting on certain event data via email/http request, and so on [ask for details]</li>
			<li>EF Core ORM</li>
			<li>SQLite database, to be migrated to PostgreSQL in time</li>
			<li>Deployed via GitHub Actions [work in progress]</li>
		</ul>
	</div>
</div>

<div class="card" style="width: 1000px; margin-bottom:5px">
	<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
		Recent links of (tech) learning
	</div>
		@foreach (var listedLink in Model)
		{
			<div class="card-body" style="padding-bottom: 10px; padding-top: 0px">
				<li><a href="@listedLink.Url" target="_blank">@listedLink.Title</a>[@listedLink.Author]</li>
			</div>
		}
</div>


@* <h1>And now, a presentation of recent listed links of learning:</h1>

@foreach (var listedLink in Model)
{
    <p>
        <a href="@listedLink.Url" target="_blank">@listedLink.Title</a>
        [@listedLink.Author]
    </p>
}

<hr />

<style>
	.flex-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100px;
	}

	.loading {
		display: flex;
		align-items: center;
		transform: perspective(1000px) rotateX(60deg);
		transform-style: preserve-3d;
		height: 60px;
	}

	@@keyframes loading {
		0%,100% {
			height: 10px;
			transform: translateZ(-20px);
		}

		50% {
			height: 40px;
			transform: translateZ(20px);
		}
	}

	.loading .x {
		background-color: #4588ba;
		animation: loading .8s infinite;
		width: 10px;
		height: 0;
		margin: 0 1px;
		border-radius: 10px;
	}

	.loading .x:nth-child(2) {
		animation-delay: .1s;
	}

	.loading .x:nth-child(3) {
		animation-delay: .2s;
	}

	.loading .x:nth-child(4) {
		animation-delay: .3s;
	}

	.loading .x:nth-child(5) {
		animation-delay: .4s;
	}

	.loading .x:nth-child(6) {
		animation-delay: .5s;
	}

	.loading .x:nth-child(7) {
		animation-delay: .6s;
	}

	.loading .x:nth-child(8) {
		animation-delay: .7s;
	}
</style> *@

<input type="text" id="comment" style="width: 920px" placeholder="Feedback" />
<button type="button" class="btn btn-primary" style="background-color: #4588ba" onclick="saveComment()">Submit</button>
<script>
    function saveComment() {
        var comment = { 
            "Text": $("#comment").val(),
            "CreatedAt": new Date().toISOString(),
        }

        $.ajax({
            type: "POST",
			url: "https://biffkittz.com", //"https://biffkittz.com", "http://127.0.0.1:8080",
            data: JSON.stringify(comment),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                alert('Success!');
            },
            failure: function (response) {
                alert('error!');
            }
        });
    }
</script>
