@{
    ViewData["Title"] = "Photos";
}

<div class="container" style="max-width:100%">
    <div class="row">
        <div class="col-sm">
            <img style="max-height: 500px; max-width: 500px; border-radius: 18%; margin-left: auto; margin-right: auto; display:block" src="https://www.dropbox.com/scl/fi/yxpqecyvoc2u88c0el717/kittyhawk.jpg?rlkey=w1cu1k3gmtv6j3rz5k9gjcz95&st=mi17n527&raw=1" alt="Kitty Hawk, NC">
            <p style="text-align: center;font-weight: lighter">Kitty Hawk, NC</p>
        </div>
        <div class="col-sm">
            <img style="max-height: 500px; max-width: 500px; border-radius: 18%; margin-left: auto; margin-right: auto; display:block" src="https://www.dropbox.com/scl/fi/ry9isrm8mrateo654w49u/calmmushroom.jpg?rlkey=4pf7g4pwtvt00a5v1rrcv26co&st=h4z58fry&raw=1" alt="Mushroom by the Lake">
            <p style="text-align: center;font-weight: lighter">Cary, NC</p>
        </div>
        <div class="col-sm">
            <img style="max-height: 500px; max-width: 500px; border-radius: 18%; margin-left: auto; margin-right: auto; display:block" src="https://www.dropbox.com/scl/fi/8bfvq7kglzkjjwkq766ra/tamilnadu.jpg?rlkey=s9wrvyvn9efl3fff8e9ajov7a&st=fe41narc&raw=1" alt="Tamil Nadu, India">
            <p style="text-align: center;font-weight: lighter">Tamil Nadu, India</p>
        </div>
    </div>
</div>


@* <img src='https://www.dropbox.com/scl/fi/ry9isrm8mrateo654w49u/calmmushroom.jpg?rlkey=4pf7g4pwtvt00a5v1rrcv26co&st=h4z58fry&raw=1' style="max-height: 1024px; max-width: 1024px; border-radius: 18%" />
<img src='https://www.dropbox.com/scl/fi/yxpqecyvoc2u88c0el717/kittyhawk.jpg?rlkey=w1cu1k3gmtv6j3rz5k9gjcz95&st=mi17n527&raw=1' style="max-height: 1024px; max-width: 1024px; border-radius: 18%" />
<img src='https://www.dropbox.com/scl/fi/8bfvq7kglzkjjwkq766ra/tamilnadu.jpg?rlkey=s9wrvyvn9efl3fff8e9ajov7a&st=fe41narc&raw=1' style="max-height: 1024px; max-width: 1024px; border-radius: 18%" /> *@