@{
    ViewData["Title"] = "Privacy Policy of these Listed Links of Learning";
}
<h1>@ViewData["Title"]</h1>

<hr />

<div class="card" style="width: 1000px">
    <div class="card-header">
        Privacy Policy Item
    </div>
    <div class="card-body">
        <p class="card-text">There will be links</p>
    </div>
</div>

<hr />

<div class="card" style="width: 1000px">
    <div class="card-header">
        Privacy Policy Item
    </div>
    <div class="card-body">
        <p class="card-text">They will be listed</p>
    </div>
</div>

<hr />

<div class="card" style="width: 1000px">
    <div class="card-header">
        Privacy Policy Item
    </div>
    <div class="card-body">
        <p class="card-text">Listed online</p>
    </div>
</div>

<hr />

<div class="card" style="width: 1000px">
    <div class="card-header">
        Privacy Policy Item
    </div>
    <div class="card-body">
        <p class="card-text">And we will learn from them</p>
    </div>
</div>

@* <p>There will be links.</p>
<p>They will be listed.</p>
<p>Listed online.</p>
<p>And we will learn from them.</p> *@
