@{
    ViewData["Title"] = "Privacy Policy of these Listed Links of Learning";
}
<h1>@ViewData["Title"]</h1>

<p>There will be links.</p>
<p>They will be listed.</p>
<p>Listed online.</p>
<p>And we will learn from them.</p>
