@model List<ListedLinks.Models.IPAddressString>

@{
    ViewBag.Title = "DANGER";
}


@foreach (var ipString in Model.Take(500))
{
    <div class="card" style="width: 1000px">
        <div class="card-header">
            IPAddress
        </div>
        <div class="card-body">
            <p class="card-text">@ipString.IPAddress</p>
        </div>
    </div>
    <hr />
}