@model List<ListedLinks.Models.Book>

@{
	ViewBag.Title = "Biffkittz Books";
}


@foreach (var book in Model)
{
    <div class="card" style="width: 1000px; margin-bottom:5px">
        <div class="card-header" style="padding-bottom: 10px; margin-bottom:10px; display:flex">
            <div style="font-weight:600">
                "@book.Title" - @book.Author
            </div>
            <div style="margin-left:auto; margin-right: 0">
                @using (Html.BeginForm("DeleteBook", "Book", FormMethod.Post, new { @class = "delete-form" }))
                {
                    <input type="hidden" name="titleAuthorKey" value="@string.Format("{0}^^^{1}", book.Title, book.Author)" />
                    <input type="submit" class="deleteBook" value="X" />
                }
            </div>
        </div>
		<div class="card-body" style="padding-bottom: 10px; padding-top: 0px">
            <div>
                @book.Blurb
            </div>

		</div>
    </div>
}


<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
    <input type="text" id="bookTitle" style="width: 980px" placeholder="<title>" />
</div>
<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
    <input type="text" id="bookAuthor" style="width: 980px" placeholder="<author>" />
</div>
<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
    <input type="text" id="bookBlurb" style="width: 980px" placeholder="<blurb>" />
</div>
<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
    <button type="button" class="btn btn-primary" onclick="saveBook()">Submit</button>
</div>


<style>

</style>

<script>
    function saveBook() {
        var title = $("#bookTitle").val();
        var author = $("#bookAuthor").val();
        var blurb = $("#bookBlurb").val();

        if (title == '' || author == '' || blurb == '') {
            alert('Please specify all book properties before adding')
        } else {
            var bookInfo = {
                "Title": title,
                "Author": author,
                "Blurb": blurb
            }

            function redirectToRefresh() {
                window.location.replace(
                    "https://biffkittz.com/Book",
                );
            }

            $.ajax({
                type: "POST",
                url: "https://biffkittz.com/Book/Management", //"https://biffkittz.com", "http://127.0.0.1:8080",
                data: JSON.stringify(bookInfo),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    redirectToRefresh()
                },
                error: function () {
                    redirectToRefresh()
                },
                complete: function () {
                    redirectToRefresh()
                }
            });
        }
    }
</script>