@model List<ListedLinks.Models.Book>

@{
	ViewBag.Title = "Biffkittz Books";
}

<div class="card" style="width: 1000px; margin-bottom:5px">
	<div class="card-header" style="padding-bottom: 10px; margin-bottom:10px">
		Books!
	</div>
	@foreach (var book in Model)
	{
		<div class="card-body" style="padding-bottom: 10px; padding-top: 0px">
			<ul>
				@* (@book.Genre?.Name) *@
				<li>@book.Title [@book.Author]
					<pre style="text-align: right">
					@book.Blurb
					</pre>
				</li>
			</ul>
		</div>
	}
</div>

<hr />

<input type="text" id="bookInfo" style="width: 768px" placeholder="<title>|||<author>|||<blurb>" />
<button type="button" class="btn btn-primary" onclick="saveBook()">Submit</button>
<script>
    function saveBook() {
        var bookInfo = {
            "Title": $("#bookInfo").val().split("|||")[0],
            "Author": $("#bookInfo").val().split("|||")[1],
            "Blurb": $("#bookInfo").val().split("|||")[2],
            //"Genre": new Date().toISOString()
        }

        function redirectToRefresh() {
            window.location.replace(
                "https://biffkittz.com/Book",
            );
        }

        $.ajax({
            type: "POST",
            url: "https://biffkittz.com/Book/Management", //"https://biffkittz.com", "http://127.0.0.1:8080",
            data: JSON.stringify(bookInfo),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                redirectToRefresh()
            },
            error: function () {
                redirectToRefresh()
            },
            complete: function () {
                redirectToRefresh()
            }
        });
    }
</script>