@{
    ViewBag.Title = "Book Management";
}

<h1>Add a Book</h1>
<hr />

<input type="text" id="bookInfo" style="width: 768px" placeholder="<title>|||<author>|||<blurb>" />
<button type="button" class="btn btn-primary" onclick="saveBook()">Submit</button>
<script>
    function saveBook() {
        var bookInfo = {
            "Title": $("#bookInfo").val().split("|||")[0],
            "Author": $("#bookInfo").val().split("|||")[1],
            "Blurb": $("#bookInfo").val().split("|||")[2],
        }

        function redirectToRefresh() {
            window.location.replace(
                "https://biffkittz.com/Book",
            );
        }

        $.ajax({
            type: "POST",
            url: "https://biffkittz.com/Book/Management", //"https://biffkittz.com", "http://127.0.0.1:8080",
            data: JSON.stringify(bookInfo),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                redirectToRefresh()
            },
            error: function () {
                redirectToRefresh()
            },
            complete: function () {
                redirectToRefresh()
            }
        });
    }
</script>